body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 0;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

li {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

li:last-child {
    border-bottom: none;
}

.todo-text {
    overflow-wrap: anywhere;
}

.buttons {
    display: flex;
}

button.update {
    background-color: #ffc107;
    margin-left: 10px;
}

button.update:hover {
    background-color: #e0a800;
}

button.delete {
    background-color: #dc3545;
    margin-left: 10px;
}

button.delete:hover {
    background-color: #c82333;
}
